<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0809-01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>myParamName</param-name>
  	<param-value>myParamValue</param-value>
  </context-param>
  
  <context-param>
  	<param-name>mySetting</param-name>
  	<param-value>hello</param-value>
  	<!-- name과 value를 무조건 써주어야 함 -->
  	<!-- 값을 꺼내오는 객체(application)에서 꺼내올 수 있음 -->
  	<!-- wep application의 동작에 대해 하나하나 설정이 가능 -->
  </context-param>
</web-app>

